@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

button {
  background-color: #dd71c6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 0.3s;
}

button:hover {
  background-color: #a85897;
}

.header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  transition: 0.3s ease-in-out;
  z-index: 10;
}
.header.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background: white;
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: start;
  padding: 7rem 2rem 0 1rem;
}
.mobile-links {
  width: 100%;
}
.mobile-li {
  list-style: none;
}

.overlay-menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .overlay .close {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 30px;
  width: 0;
}

.header .overlay a {
  padding: 15px 0;
  font-size: 18px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  color: rgb(24, 22, 22);
}

.overlay-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dd71c6;
  font-size: 20px;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #dd71c6;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
  width: 138px;
  height: auto;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links a {
  font-size: 700;
  color: black;
  transition: ease-in-out 0.3s;
}

.header .nav-links a:hover {
  color: #dd71c6;
  transition: ease-in-out 0.3s;
}
.header .menu i {
  font-size: 24px;
  margin-right: 5px;
  color: black;
}
.header .menu i:hover {
  color: #dd71c6;
  transition: ease-in-out 0.3s;
}

.hidden {
  visibility: hidden;
  margin-left: auto;
  width: 138px;
}

.menu {
  display: none;
}

/* HOME SECTION */

.home-section {
  color: black;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inter-section-left {
  display: none;
}

.section-left {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.section-left h1 {
  padding-right: 70%;
  font-size: 35px;
}

.section-left p {
  margin-top: 2rem;
  padding-right: 70%;
  font-size: medium;
  color: #333333;
}

.section-left span {
  color: #dd71c6;
}

.section-left button {
  margin-top: 2rem;
}

.section-right {
  position: absolute;
  right: 20%;
  top: 40%;
  transform: translateY(-50%);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  padding: 2% 5%;
  border-radius: 2rem;
  backdrop-filter: blur(10px);
}
.section-right .offer,
.inter-section-left .offer {
  display: flex;
  justify-content: center;
  color: #333333;
}
.section-right .times,
.inter-section-left .times {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  color: #0083d3;
  font-size: small;
}

.section-right .counting,
.inter-section-left .counting {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.section-right .numbers,
.inter-section-left .numbers {
  font-size: xx-large;
  margin-top: 2rem;
  color: #333333;
}

.yellow-rectangle {
  width: 390px;
  height: 100vh;
  background-color: #ffd900;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px 0 0 0;
  z-index: -2;
}

.home-section .circle-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: -1;
  border: 18px solid #ffffff;
  border-radius: 50%;
  left: -7rem;
  top: 40%;
  transform: translateY(-50%);
}

/* ABOUT SECTION */

.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  background-color: #dd71c6;
}

.about-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #dd71c6;
  padding: 10px 20%;
}

.about-boxes > div {
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #dd71c6;
  color: black;
  border-radius: 8px;
}

.business {
  color: #73c3f4;
  font-size: 30px;
}
.smile {
  color: #ffd900;
  font-size: 30px;
}

.comment {
  color: #dd71c6;
  font-size: 30px;
}

.pulse {
  color: #55a201;
  font-size: 30px;
}

.about-numbers {
  font-size: 28px;
  margin-top: 2rem;
  white-space: nowrap;
}
.about-numbers span {
  color: #c4c4c4;
}
.about-text {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.51px;
  text-align: center;
  padding: 4px 0px;
}

.about-section button {
  margin-top: 1rem;
  background-color: #ffd900;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about-section button:hover {
  background-color: #c7a900;
}

.about-section .circle-2 {
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
  border: 20px solid #ffffff;
  opacity: 15%;
  z-index: 1;
}

/* INFORMATION SECTION */

.information-section {
  position: relative;
  height: 100vh;
  background-color: #73c3f4;
}

.information-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  height: 100%;
}

.information-left {
  display: flex;
  z-index: 3;
  flex-direction: column;
  gap: 2rem;
  color: #ffffff;
  padding: 4rem 3rem;
  max-width: 100%;
  box-sizing: border-box;
}

.information-text {
  text-align: left;
}

.information-text h2 {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 1rem;
}

.information-text p {
  font-weight: 100;
  font-size: medium;
  line-height: 1.5;
}
.information-right {
  padding-right: 15%;
  position: relative;
}

.information-circle {
  position: absolute;
  top: 34%;
  left: 11%;
  width: 18rem;
  height: 18rem;
  background: transparent;
  border: 18px solid #ffffff;
  border-radius: 50%;
}

.information-img {
  position: relative;
  width: 429.19px;
  padding-top: 2rem;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  z-index: 2;
}

.information-left button {
  margin-top: 2rem;
}

.information-section .circle-3 {
  width: 60px;
  height: 60px;
  top: 12rem;
  right: 14rem;
  border: 20px solid #ffffff;
}

/* FAQ SECTION */

.faq-section {
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.faq-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10% 0;
  z-index: 2;
}

.circle-1,
.circle-2,
.circle-3 {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
}

.faq-section .circle-1 {
  width: 10rem;
  height: 10rem;
  top: 4rem;
  right: 7rem;
  border: 14px solid #f9f9f9;
}

.faq-section .circle-2 {
  width: 12rem;
  height: 12rem;
  top: 65%;
  left: -4rem;
  transform: translateY(-50%);
  border: 10px solid #f9f9f9;
  z-index: 1;
}

.faq-section .circle-3 {
  width: 60px;
  height: 60px;
  bottom: 7rem;
  right: 14rem;
  border: 14px solid #f9f9f9;
  z-index: 1;
}

.faq-title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.faq-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 27.6px;
  position: relative;
}

.faq-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 2px 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.faq-item i {
  color: #dd71c6;
}

.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 27.6px;
  font-weight: 100;
  gap: 3rem;
}

.faq-answer {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  width: 100%;
  left: 1px;
  top: 100%;
  transition: 0.3s ease;
}

.faq-question {
  cursor: pointer;
}

.faq-section button {
  background-color: #dd71c6;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* FOOTER */

footer {
  height: 50vh;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 10% 0px 0px 0px;
}

.footer-image {
  width: 138px;
}

.footer-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dd71c6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.footer-left {
  flex-basis: 50%;
  padding: 0px 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right {
  flex-basis: 50%;
  padding: 0px 8rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.footer-text {
  margin-top: 1rem;
}

.footer-contact {
  margin-top: 2rem;
}

.contact-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer-bold {
  font-weight: bolder;
}

.purple-icons {
  color: #dd71c6;
  width: 10px;
}
.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-titles {
  font-size: 24px;
  line-height: 38.4px;
}

.footer-list {
  list-style: none;
  margin-top: 3rem;
}

.footer-li {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 16px;
}

.footer-li a {
  color: #333333;
  text-decoration: none;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem 8rem;
}

/*ERROR 404 */

.error-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.error-title {
  color: #888;
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;

  @media (max-width: 480px) {
    font-size: 8.5rem;
  }

  @media (max-width: 320px) {
    font-size: 5rem;
  }

  & > span {
    animation: spooky 2s alternate infinite linear;
    color: #dd71c6;
    display: inline-block;
  }
}

.error-main h2 {
  color: #555;
  margin-bottom: 0.4em;
}

.error-main p {
  color: #555;
  margin-top: 0;
}

.error-main button {
  margin-top: 1rem;
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }

  to {
    transform: translatey(-0.15em);
  }
}

/* MEDIA QUERYS */
@media screen and (max-width: 1065px) {
  .section-right {
    display: none;
  }
  .section-left {
    position: static;
    text-align: center;
    width: 100%;
    transform: none;
    padding: 0px 10%;
  }

  .section-left p,
  .section-left h1 {
    padding: 0;
    margin: 2rem 0px;
  }

  .inter-section-left {
    display: block;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
    padding: 2% 5%;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
  }

  .about-section {
    height: 100vh;
  }
  .about-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-boxes > div {
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
  }
  .information-section {
    height: 130vh;
  }
  .information-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .information-left {
    display: flex;
    z-index: 3;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
    padding: 2rem 1.5rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .information-right {
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  .information-text h2 {
    font-size: 28px;
  }
  .information-section p {
    font-size: small;
  }
  .information-img {
    padding: 0px 0px 4rem 0px;
    width: 329px;
  }
  .information-circle {
    top: 28%;
    left: 15%;
    width: 14rem;
    height: 14rem;
  }
  .information-section .circle-3 {
    opacity: 15%;
  }

  .information-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15%;
  }

  .information-text button {
    margin: 2rem auto;
  }

  .nav-links,
  .btn {
    display: none;
  }
  .menu {
    display: inherit;
  }
  .footer-content {
    text-align: left;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10% 0 0 0;
    gap: 2rem;
  }

  .footer-left,
  .footer-right {
    flex-basis: auto;
    padding: 0 1rem;
  }

  .footer-right {
    justify-content: flex-start;
    gap: 3rem;
  }

  .footer-text {
    width: 50%;
  }

  .footer-list {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 740px) {
  .home-section {
    height: 120vh;
  }

  .yellow-rectangle {
    height: 120vh;
    width: 200px;
  }

  .section-left {
    padding: 0px 15%;
  }

  .information-section {
    height: 150vh;
  }

  .faq-section {
    height: 150vh;
  }

  .faq-container {
    padding: 10% 10%;
  }

  .footer-right {
    flex-direction: column;
  }
  .footer-end {
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding: 2rem 20px;
  }
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }
  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 500px) {
  .section-left {
    padding: 0;
  }
  .section-left h1 {
    font-size: 28px;
  }
  .section-left p {
    font-size: small;
  }
  .inter-section-left .numbers {
    font-size: large;
  }
  .counting-text {
    font-size: smaller;
  }
  .yellow-rectangle {
    height: 120vh;
    width: 100px;
  }
  .about-section {
    height: 180vh;
  }
  .about-boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  .information-section {
    height: 180vh;
  }
  .faq-section {
    height: 220vh;
  }

  .faq-title {
    font-size: 22px;
  }

  .overlay-text {
    display: none;
  }
  .overlay-menus {
    justify-content: center;
  }
}

@media screen and (max-width: 280px) {
  .information-img {
    display: none;
  }
}
